<section>
    <div class="container">
      <div class="containerinfo">
        <div>
          <h2>Thông Tin Liên Hệ Cửa Hàng </h2>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span>Đông Thạnh -<br />
                Hóc Môn,<br />
                TP_Hồ Chí Minh
              </span>
            </li>
            <li>
              <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <span>levanvan009@gmail.com</span>
            </li>
           <li>
              <span><i class="fa fa-phone-square" aria-hidden="true"></i></span>
              <span>+0763 109 811</span>
            </li>
          </ul>
        </div>
        <ul class="sci">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
     </div>
     <div class="containerForm">
        <h2>Gửi Lời Nhắn</h2>
        <div class="formBox">
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Họ</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Tên</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Email</span>
            </div>
            <div class="inputBox w50">
                <input type="text" name="" required>
                <span>Điện Thoại</span>
            </div>
            <div class="inputBox w100">
                <textarea name="" required></textarea>
                <span>Lời Nhắn </span>
            </div>
            <div class="inputBox w100">
                <input type="submit" value="Gửi">
            </div>
        </div>
    </div>
 </section>
 
  
        <!-- Bắt đầu đoạn mã mới-->
        
       <!-- Kết thúc đoạn mã mới-->
  
 