<h1>Các bước để mua trả góp </h1>
<div class="row">
    <div class="grid-item col-md-3 col-12 item-1"><div class="inner">
        <span class="icon-step icon-step1"></span>
        <div class="step-desc">
            <span class="step-title">Bước 1</span>
            <div>
                <span>Chọn sản phẩm <br> muốn trả góp</span>
            </div>
        </div>
    </div> </div>
    <div class="grid-item col-md-3 col-12 item-2"><div class="inner">
        <span class="icon-step icon-step2"></span>
        <div class="step-desc">
            <span class="step-title">Bước 2</span>
            <div>
            <span>Chọn hình thức trả góp <br>phù hợp</span></div>
        </div>
    </div></div>
    <div class="grid-item col-md-3 col-12 item-3"><div class="inner">
        <span class="icon-step icon-step3"></span>
        <div class="step-desc">
            <span class="step-title">Bước 3</span>
            <div>
            <span>Nhận thông tin <br>tư vấn miễn phí</span></div>
        </div>
    </div></div>
    <div class="grid-item col-md-3 col-12 item-4"><div class="inner">
        <span class="icon-step icon-step4"></span>
        <div class="step-desc">
            <span class="step-title">Bước 4</span>
            <div>
            <span>Nhận máy tại cửa hàng <br> Hoặc giao hàng tận nơi</span></div>
        </div>
    </div></div>
</div>